.NavLink {
    color:#aaa;
    text-decoration: none;
}
.NavLink:hover {
    color:#ccc;
    text-decoration: none;
}

.active {
    color:#FFF;
    text-decoration: none;
}

.active:hover {
    color:#FFF;
}